Django==2.2.7
Pillow==6.2.1
PyYAML==5.1.2
coreapi==2.3.3
djangorestframework==3.10.3
flake8==3.7.9
model_mommy==2.0
python-dateutil==2.8.1
pip==19.3.1
pytz==2019.3
requests==2.22
setuptools==41.6.0
wheel==0.33.6
