Django==2.1.5
Pillow==5.4.1
coreapi==2.3.3
djangorestframework==3.9.1
flake8==3.6.0
model_mommy==1.5.1
python-dateutil==2.7.5
pip==18.1
pytz==2018.9
pyyaml==3.13
requests==2.21
setuptools==40.6.3
wheel==0.32.3